.obsidian/*
!.obsidian/templates.json
!.obsidian/plugins/
.obsidian/plugins/*
!.obsidian/plugins/quickadd/
.obsidian/plugins/quickadd/*
!.obsidian/plugins/quickadd/data.json
.tmp.driveupload
resources/
public/
**/.DS_Store
node_modules/
/static/.DS_Store
/Users/theostowell/theostowell.me/static/.DS_Store
.DS_Store
static/.DS_Store
