{{- define "main" }}
<div class="essays-container">
  <header class="page-header essays-full-width-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
  </header>

  <div class="essays-vertical-list">
    {{- range .Pages.GroupByDate "2006" }}
    {{- $year := replace .Key "0001" "" }}
    <div class="essay-year-group">
      <h2 class="essay-year-heading">{{ $year }}</h2>
      {{- range .Pages.GroupByDate "January" }}
      <div class="essay-month-group">
        <h3 class="essay-month-heading">{{ .Key }}</h3>
        <ul class="essay-list">
          {{- range .Pages }}
          <li class="essay-list-item">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <div class="essay-meta">
              {{- partial "post_meta.html" . -}}
            </div>
          </li>
          {{- end }}
        </ul>
      </div>
      {{- end }}
    </div>
    {{- end }}
  </div>
</div>
{{- end }}
